@page
@model IdentityService.Pages.Home.Index

<div class="welcome-page">
    <h1>
        <img src="~/duende-logo.svg" class="logo">
        Welcome to Carties IdentityServer
    </h1>

    <ul>
        <li>
            Click <a href="~/diagnostics">here</a> to see the claims for your current session.
        </li>
    </ul>
</div>